body {
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Titan One', cursive;

}

.attack div{

    background-color: #5BB02B;
}

.opponent div{
    background-color: #DD1800;
}

.red {
    background-color: #DD1800;
}

h3 {
    font-size: xx-large;
    font-weight: bolder;
}

.card-title {
    font-size: small;
}
